pane_frames false

stacked_resize false

ui {
  pane_frames {
    hide_session_name true
    rounded_corners true
  }
}

keybinds {
  normal {
    bind "Alt t" { NewTab; }
    bind "Alt ;" {
      LaunchPlugin "filepicker" {
        floating true
        close_on_selection true
      }
    }
    bind "Ctrl `" { SwitchToMode "Locked"; }
    unbind "Ctrl g"
  }

  locked {
    bind "Ctrl `" { SwitchToMode "Normal"; }
  }
}
